<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" >Task manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Lista e taskeve</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Shto Task</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulli</th>
        <th scope="col">Pershkrimi</th>
        <th scope="col">Statusi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <th scope="row">{{item.id}}</th>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>{{item.status ? 'DONE' : 'ON PROGRESS' }}</td>
      </tr>
    </tbody>
  </table>


