<form #logForm="ngForm">
    <h2>Logohu ne sistem</h2>
    <div *ngIf="showMessage" class="alert alert-danger" role="alert">
    Te dhenat e vendosura nuk kane te sakta. Ju lutem rivendosini!
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" name="email" required [(ngModel)]="loginForm.email" type="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" name="password" required [(ngModel)]="loginForm.password" type="password">
    </div>
    <div class="mb-3">
        <button (click)="submit()" [disabled]="logForm.invalid" class="btn btn-primary">Submit</button>
    </div>
    <div class="mb-3">
        <a class="link-opacity-100" [routerLink]="['/register']">Kliko ketu nese nuk ke nje account</a>
    </div>
</form>

