
<form #addForm="ngForm">
    <div class="alert alert-success" *ngIf="showSuccessMessage" role="alert">
        Shtimi i taskut u krye me sukses!
      </div>
    <div class="mb-3">
        <label class="form-label">
            Titulli
        </label>
        <input required name="title" [(ngModel)]="addTaskForm.title" type="text" class="form-control" >

    </div>
    <div class="mb-3">
        <label class="form-label">
            Pershkrimi
        </label>
        <textarea  name="description" [(ngModel)]="addTaskForm.description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
      <button [disabled]="addForm.invalid"  type="button" (click)="save()" class="btn btn-primary">{{!!id ? 'Edito Task' : 'Shto Task' }}</button>
    </div>
</form>
