<form>
    <h2>Krijo nje llogari</h2>
    <div class="mb-3">
        <label class="form-label">Emri</label>
        <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="registerForm.name" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label">Mbiemri</label>
        <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="registerForm.surname" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="registerForm.email" type="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="registerForm.password" type="password">
    </div>
    <div class="mb-3">
        <button (click)="submit()" class="btn btn-primary">Submit</button>
    </div>
</form>
